
<div class="heading">
    <h3 style="text-align: center;">BROWSE ART BY CATEGORY</h3>
</div>
       <div class="container">
        
            <div class="row">
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
               
              <img class="spectrum1" src="./assets/tart1.jpg" alt="meow">
              
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
                <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            <!-- .card-content -->
          </article>
          <!-- .card -->
      
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
              <img class="spectrum1" src="./assets/tart2.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
                <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            <!-- .card-content -->
           
          </article>
          
      
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tart3.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
           
           
          </article>
        
      
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tart4.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            
           
          </article>
         
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tart5.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
           
           
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
              <img class="spectrum1" src="./assets/tart6.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            <!-- .card-content -->
           
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
              <img class="spectrum1" src="./assets/tart7.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            <!-- .card-content -->
           
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tart8.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            <!-- .card-content -->
           
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tart9.jpg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            <!-- .card-content -->
           
          </article>
          <article class="col-md-4 col-lg-3">
            <div class="card-content">
             <img class="spectrum1" src="./assets/tart10.jpeg" alt="meow">
              <h4 class="spectrum-h2">Tamatina Modern Art Canvas Paintings</h4>
              <p>Visit our world-class analytical facility for South African scientists, Spectrum</p>
            </div>
            <!-- .card-content -->
           
          </article>
      
        </div>
      </div>
     