<h2 class="w3-wide w3-center w3-padding-32">WELCOME</h2>
<div>
    <p class="mb-0" style="font-size: 1.5rem; padding:1em">
        
        Welcome to ArtGallery.com, the one-stop destination for all the art lovers.
         Art has always been an integral part of society, not today but since the time humans had started civilizing. Not just the photographic presentation of the shapes around,
          art also tends to depict and share the complete experience of the moment enveloped in those photographs. Love, passion, and admiration of art stem up the basis of ArtGallery.com. 
          Various kinds of art forms have existed and still exist in this world, each of which has a unique story and technique involved with it. Each artist associates himself with a certain school of imagination. 
          Be it Ancient Indian heritage art forms or the abstract art or the contemporary or the modern art and whatnot, ArtGallery.com has them all. Also, not restricting itself to only paintings ArtZolo.com 
          envelopes a large array of Sculptures and Wall Murals as well. With the wide range of artists and artforms,
         ArtGallery.com is the one-stop solution for all the artists and art lovers.
    </p>

</div>
